<h1>Hello, world!</h1>

<li><%= link_to 'Sign Up', new_user_registration_path %></li>
<li><%= link_to 'Sign In', new_user_session_path %></li>
<li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
<li><%= link_to 'Edit Account Information', edit_user_registration_path %></li>

<br/>



<% if user_signed_in? %>
Signed in as <%= current_user.name %> Not you?
  <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
  <% else %>
  <%= link_to "Sign Up", new_user_registration_path %> or
  <%= link_to "Sign In", new_user_session_path %>
  <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %>
<% end %>
