
<h1>Hello, world!</h1>

<li><%= link_to 'Sign Up', new_user_registration_path %></li>
<li><%= link_to 'Sign In', new_user_session_path %></li>
<li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
<li><%= link_to 'Edit Account Information', edit_user_registration_path %></li>

<br/>



<% if user_signed_in? %>
Signed in as <%= current_user.username %> Not you?
  <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
  <% else %>
  <%= link_to "Sign Up", new_user_registration_path %> or
  <%= link_to "Sign In", new_user_session_path %>
  <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %>
<% end %>

<div class="container-fluid pull-right">
<% if user_signed_in? %>
<p>Welcome <%= link_to "#{current_user.username}", edit_user_registration_path %>!</p>
<% end %>
</div>

<div class="container-fluid pull-right">
  <%= link_to games_path %>
</div>
