<div class="definition pull-right">
  <b>
  coun·ter threat
  </b>
  <p>
    ˈkoun(t)ər/-THret/ˈ
  </p>
</div>
<div class="container-fluid">
  <!-- LEFT HOMEPAGE -->
  <div class="row" id="full-row">
    <div class="col-sm-7 col-sm-offset-1" id="app-info">
      <!-- APP DESCRIPTION -->
      <div class="row">
      <h4>What is Counter Threat?</h4>
        <!-- bobby fischer -->
        <%= image_tag ("bobby.jpg"), :id => 'bobby-fischer' %> 
        <p id="info-text">Counter Threat Chess is a fullstack web application that allows users to play one another in fully-functional, live-updating games of chess. Gameplay is completely rule-enforced whether you're a beginner at chess or a grandmaster. Enjoy!</p>
      </div>
      <!-- USER RANKINGS -->
      <div class="row">
        <h4>The Grand Masters</h4>
        #leaderboard
      </div>
    </div>

    <!-- RIGHT SIDEBAR -->
    <div class="col-sm-3 col-sm-1" id="readyplay">
      <div class="row right" >
        <h4 style="text-align:center">Match Portal</h4>

        <% if user_signed_in? %>

        <div class="active-side">
        
          <!-- user profile -->
          <div class="user-profile">

              <!-- username block -->
              <p id="profile-header" style="text-align:left;font-size:17px">@<b><%= current_user.username %></b></p>

              <!-- user avatar -->
              <a href="http://en.gravatar.com/"><%= gravatar_for current_user, :class => "img-responsive", :id => "gravatar" %></a>

              <!-- profile info -->
              <ul id="prof-data">
                <li><p><b>WINS: </b><%= current_user.win_count %></p></li>
                <li><p><b>RANK: </b>#</p></li>
              </ul> 

              <!-- sign out if not you -->
              <small style="display:inline">
                <%= link_to 'Sign Out',  destroy_user_session_path, :method => :delete, :class => 'sign-out-button'  %>
              </small>
            </div>

          <!-- BUTTONS -->
          <div class="play-buttons">
            <!-- new game  -->
            <%= button_to('New Game', new_game_path(@game), :class => 'button', method: 'get') %>  
            <!-- open games -->
            <%= button_to('Open Games', games_path(@game), :class=> 'button', method: 'get') %>
            <!-- my games -->
            <%= button_to('My Games', games_path(@game), :class=> 'button', method: 'get') %>
          </div>
        </div>

        <br>
        
        <% else %>
        
        <!-- sign up if you're not a member -->
        <p id="profile-header">Welcome! Sign up here to get started:
        <%= link_to 'Sign Up', new_user_registration_path %>
        </p>
        
        <% end %>
      </div>
      
      <!-- CREATOR CREDITS -->
      
      <div class="row architects right" style="text-align:center;padding-right:10px;">
        <h4 style="text-align:center">The Architects</h4>
        <p><a href="http://www.kathleenfrench.co"><b>Kathleen French</b></a> @<a href="https://www.github.com/frenchamnesty">github</a></p>
        <p><a href="http://haleymnatzaganian.getforge.io/"><b>Haley Mnatzaganian</b></a> @<a href="https://github.com/haleymnatz">github</a></p>
        <p><b>Lindsay Dages </b>@<a href="https://github.com/lnzd17">github</a></p>
        <p><b>David Michael Pena </b>@<a href="https://github.com/DavidMichaelPena">github</a></p>
        <p><b>Anna C </b>@<a href="https://github.com/canelasa">github</a></p>
        <p>Mentored by: Abe Polishchuk</p>
      </div>
    </div>
  </div>

</div>
