
<div class="container-fluid pull-right">
<% if user_signed_in? %>
<p>Welcome <%= link_to "#{current_user.username}", edit_user_registration_path %>! Not you? <%= link_to 'Sign Out', destroy_user_session_path %></p>
<% end %>
</div>

<br/><br/>

<%= button_to "Start a Game", new_game_path, method: :get, class: 'btn btn-default btn-lg' %>

<br>

<div class="contaner-fluid">
  <h1>Join a Game! </h1>
  <div class="row">
    <div class="col-sm-3">
      <div class="list-group">
        <% @games.black_player_id.each do |game| %>
          <button type="button" class="list-group-item list-group-item-action">
            <b><h4><%= game.name %></h4><b>
            <%= display_date(game.created_at)%>
            <span class="badge badge-default badge-pill pull-right">Join</span>
          </button>
        <% end %>
      </div>
    </div>
  </div>
</div>
