<div class="page-header">
  <h1> <%= @game.name %> </h1>
</div>

<div class="col-xs-12 col-md-8 col-md-offset-2 players">
<% if @game.black_player_id == nil %>
<h3>WHITE: <%= get_username(@game.white_player_id)%></h3>
<% else %>
  <h4 class="alignleft">WHITE: <%= get_username(@game.white_player_id)%></h4><h4 class="alignright">BLACK: <%= get_username(@game.black_player_id)%></h4>
</div>

<% end %>
<table>
  <% (1..8).reverse_each do |row| %>
    <tr class="row">
      <% (1..8).each do |column| %>
        <td class="square" id="<%=column%><%=row%>">

        </td>

      <% end %>
    </tr>
  <% end %>
</table>

<hr/>

<div class="col-xs-12 col-md-8 col-md-offset-2 game-status">
  <% if @game.black_player && @game.current_user_is_black_player? %>
  <h4> It is <% get_username(@game.black_player_id)%>'s turn as BLACK</p>
  <% elsif @game.white_player && @game.current_user_is_white_player? %>
  <h4> It is <% get_username(@game.white_player_id)%>'s truen as WHITE </p>
  <% else %>
  <h4> "Waiting for another player to join the game!" </p>
  <% end %>
  <br/>
</div>