<script src="//js.pusher.com/4.0/pusher.min.js"></script>

<div class="page-header">
  <h1> <%= @game.name %> </h1>
</div>

<!-- <div class="col-xs-12 col-md-8 col-md-offset-2 players">
<% if @game.black_player_id == nil %>
<h3>WHITE: <%= get_username(@game.white_player_id)%></h3>
<% else %>
  <h4 class="alignleft">WHITE: <%= get_username(@game.white_player_id)%></h4>
  <h4 class="alignright">BLACK: <%= get_username(@game.black_player_id)%></h4>

<% end %> -->
<div class="col-xs-12 col-md-8 col-md-offset-2 players">
  <h4 class="alignleft player">WHITE: <%= get_username(@game.white_player_id)%></h4>
  <h4 class="alignright">BLACK: <span id='blackPlayer'></span></h4>
</div>

<div class="container-fluid">
  <div class="btn-toolbar">
      <!--Default buttons with dropdown menu-->
      <div class="btn-group">
          <button type="button" class="btn btn-default">Game Options</button>
          <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><button id="btnShowModal" type="button" class="btn btn-warning btn-sm">Offer Draw</button></li>
            <li><button type="button" class="btn btn-danger btn-sm"> <%= link_to 'Resign', forfeit_game_path(@game), method: 'POST', action: :forfeit %></button></li>
            <hr>
            <li class="divider"></li>
            <li><a href="#">Flip Board</a></li>
            <li><a href="#">Show Captured Pieces</a></li>
            <li><a href="#">Show Record of Moves</a></li>
            <li><a href="#">Show Board Coordinates</a></li>
          </ul>
      </div>

      <div class="modal fade" id="drawModal" role="dialog" data-backdrop="static">
      <div class="modal-dialog modal-sm">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"><%= get_username(@game.white_player_id)%> offers a draw</h4>
          </div>
          <!--<div class="modal-body">
            <p>Your opponent offers you a draw.</p>
          </div>-->
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-lg pull-left"><%= link_to 'Accept', draw_game_path(@game), method: 'POST', action: :draw %></button>
            <button type="button" class="btn btn-default btn-lg pull-right" data-dismiss="modal">Decline</button>
          </div>
        </div>
        
      </div>
    </div>
    
  </div>
  </div>


<table class="chessboard">
  <% (1..8).reverse_each do |column| %>
    <tr class="row">
      <% (1..8).each do |row| %>
        <td class="square" id="<%=row%><%=column%>" data-x="<%=row%>" data-y="<%= column %>">

        </td>

      <% end %>
    </tr>
  <% end %>
</table>

<!-- <div class="col-xs-12 col-md-8 col-md-offset-2 game-status">
  <% if @game.black_player && @game.current_user_is_black_player? %>
  <h4> It is <% get_username(@game.black_player_id)%>'s turn as BLACK</p>
  <% elsif @game.white_player && @game.current_user_is_white_player? %>
  <h4> It is <% get_username(@game.white_player_id)%>'s turn as WHITE </p>
  <% else %>
  <h4> "Waiting for another player to join the game!" </p>
  <% end %>
  <br/>
</div> -->

<div class="col-xs-12 col-md-8 col-md-offset-2 game-status">
  <h4 class="turn-notice">
    Current Turn: <span class="turn"><%= @game.player_turn%></span>
    <span class="checkmate" data check="<%= @game.check %>" data-next-move="<%=@game.no_legal_next_move?%>" data-checkmate="<%= @game.checkmate %>">
    </span>
  </h4>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('#btnShowModal').click(function () {
      $('#drawModal').modal('show');
    });
});
</script>
