<div class="page-header">
  <h1> <%= @game.name %> </h1>
</div>

<h3> White Player: <%= get_username(@game.white_player_id) %> </h3>

<% if @game.black_player_id != nil %>
  <h3> Black Player: <%= get_username(@game.black_player_id) %> </h3>
<% end %>

<div class="chessboard" id="<%@game.id%>">
  <% 0.upto(7) do |y_axis| %>
    <div class="row">
      <% 0.upto(7) do |x_axis| %>
        <div class="square" id="<%=x_axis%><%=y_axis%>" data-x="<%=x_axis%>" data-y="<%=y_axis%>">
          <% draw_square(x_axis, y_axis) %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
