
<div class="page-header">
  <h1> <%= @game.name %> </h1>
</div>

<h3> White Player: <%= get_username(@game.white_player_id) %> </h3>

<% if @game.black_player_id != nil %>
  <h3> Black Player: <%= get_username(@game.black_player_id) %> </h3>
<% end %>

<table>
  <% (0..7).each do |row| %>
    <tr class="row">
      <% (0..7).each do |column| %>
        <td class="square" id="<%=column%><%=row%>">

        </td>

      <% end %>
    </tr>
  <% end %>
</table>

<h3>image - id - type - color - x - y - user</h3>
<% @game.pieces.where(type: 'King').each do |piece| %>
  <ul>
    <li class='<%= piece.color %><%= piece.type %>' style="text-size:40px;">
      <%= raw piece.unicode%>
      <%= piece.id %> -
      <%= piece.type %> -
      <%= piece.color %> -
      <%= piece.x_position %> -
      <%= piece.y_position %> -
      <%= get_username(piece.user_id) %>
    </li>
  </ul>
<% end %>
