<!DOCTYPE html>
<html>
  <head>
    <title>ChessApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  </head>

  <body>

  <div class="header">

      <div class="container-fluid">
           <div class="navbar navbar-static-top navbar-left" role="navigation">
               <div class="collapse navbar-collapse">
                 <div class="container-fluid">
                 <a href="#" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-menu-hamburger"></i> <span class="hidden-xs"></span></a>
                 <ul class="dropdown-menu">
                   <li><a href="#">Rules</a></li>
                   <li><a href="#">FAQ</a></li>
                   <li><a href="#">About</a></li>
                   <li class="divider"></li>
                   <% if !user_signed_in? %>
                     <li><%= link_to 'Sign In', new_user_session_path %></li>
                     <li><%= link_to 'Sign Up', new_user_registration_path %></li>
                     <% else %>
                     <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
                   <% end %>
                 </ul>
                 <div class="navbar-right">
                   <p><h1><%= link_to 'Counter Threat', "/" %></h1></p>
                 </div>
               </div>
             </div>

           </div>
        </div>
       </div>


  <!-- body content -->

  <div class="content">

      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>


    <%= yield %>

    </div>

    <br class="clr"/>

    <footer class="footer">
      <div class="footer-container">
        <div class="footer-social-icons">
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-reddit"></a>
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-google"></a>
        </div>
        <hr>
        <div class="footer-content">
          <a href="#"> FAQ | </a>
          <a href="#"> About | </a>
          <a href="#"> Team | </a>
          <a href="#"> Contact</a>
          <br/><br/>
        </div>
      </div>
    </footer>

  </body>

</html>
