<!DOCTYPE html>
<html>
  <head>
    <title>ChessApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>

    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>


      <%= yield %>
    </div>

    <footer class="footer">
      <div class="footer-container">
        <div class="footer-social-icons">
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-reddit"></a>
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-google"></a>
        </div>
        <hr>
        <div class="footer-content">
          <a href="#"> FAQ | </a>
          <a href="#"> About | </a>
          <a href="#"> Team | </a>
          <a href="#"> Contact</a>
          <br/><br/>
        </div>
      </div>
    </footer>

  </body>

</html>
