<!DOCTYPE html>
<html>
  <head>
    <title>ChessApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>

    <nav class="navbar fixed-top navbar-toggleable-md navbar-dark double-nav scrolling-navbar top-nav-collapse">
      <div class="float-left">
        <a href="/" data-activates="slide-out" class="button-collapse">
          <i class="fa fa-bars">
          </i>
        </a>
      </div>
      <ul class="nav navbar-nav nav-flex-icons ml-auto">
        <li class="nav-item">
          <a href="#" id="show_login" class="nav-link">
              <% if user_signed_in? %>
                <span class="hidden-sm-down"><li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
              <% else %>
                <span class="hidden-sm-down"><li><%= link_to 'Log In', new_user_session_path %></li></span>
              <% end %>
          </a>
        </li>
      </ul>
    </nav>

    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>


      <%= yield %>
    </div>

    <footer class="footer">
      <div class="footer-container">
        <div class="footer-social-icons">
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-reddit"></a>
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-google"></a>
        </div>
        <hr>
        <div class="footer-content">
          <a href="#"> FAQ | </a>
          <a href="#"> About | </a>
          <a href="#"> Team | </a>
          <a href="#"> Contact</a>
          <br/><br/>
        </div>
      </div>
    </footer>

  </body>

</html>
